@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://discord.gg/vBc6QMC2" target="_blank" rel="noopener">Discord</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
